/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/

/*selects the h1 tags inside the body element*/
body h1 {
    color: goldenrod;                      /*changes font color*/
    font-size: 32px;                         /*changes size of font*/
    font-family: Arial, Helvetica, sans-serif;  /*changes the font itself to a different font*/
}